* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body {
    width: 100%;
    height: 100%;
    
}
.row-mobile {
    display: none;
}

.bars-nav {

    width: 50px;
    height: 50px;
    color: #000000;
    display: none;
    text-align: right;
}
.bars-nav i {
color: black;
text-align: right;

}
.gree{
    background-color: #10592e;
    color: #ffffff;
    
}
.top-menu .row .col-2 {
    padding-top: 20px;
    
}
.col-7 {
    margin-top: 15px;
}

.padding-left {
    padding-left: 20px;
}
.padding-left img {
    width: 200px ;
    padding-top: 15px;
}
.padding-left-sl {
    padding-left: 50px;
}
.list{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
}

.list-footer {
    list-style-type: none;
}

.list >li {
    padding: 0 30px;
}
.list >li >a , .list-footer li a{
    color: black;
}
.red {
    background-color: #ff2600;
    border-radius: 200px;
    padding: 10px 20px;
    color: #ffffff;
    
}
.bg_content2 {
    background-color: #ebebeb;
    height: 604px;
    width: 100%;
}

.ha-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
}

.padding-top {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.size {
    font-size: 40px !important;
}
.padding-bottom {
    padding-bottom: 0px;
}
.nav-bg {
    background: url('./image/bg-1.jpg');
    background-position: center;
    background-size: cover;
    height: 560px;
}


.padding-left-sl {
    padding-top: 150px;
  
}
.color-p {
    color: #21252982;
}
.xanh {
    background-color: #8dc642;
    border-radius: 200px;
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    align-items: center;
}
.container_content_3 p {
    text-align: justify;
    width: 100%;
    margin-right: 20px;
}

.img-ha img {
   height: 500px;
  
}

.input {
    padding-left: 350px;
}


.btn-outline-success {
    border-radius: 200px;
}
.radius{
    border-radius: 10px;
}


.content{
    background-image: url(image/bg-2.jpg);
    height: 720px;
}
.content .row img {
    width: 100%;
    border-radius: 10px;

}


button:hover{
    color: white;

}
.link a:link{
    text-decoration:underline;
    color:#21252982 ;
}

.multiple-items {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.multiple-items img {
   
    margin: 0 auto;

}
.accordion {
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 200px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
  
  .active, .accordion:hover {
    background-color: #ccc;
    
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
 
  }

  .active:after {
    content: "\2212";
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .panel p {
      padding-right: 300px;
  }
  .content_6_2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 50px;
      
  }

  .content_6_2 .content_6_2_img {
    margin-right: 20px;

  } 
  .content_6_2 .content_6_2_text {
    width: 100%;
  }
  .bl {
    font-weight: bold;
  }

  .row .content_5 {
    background-color: #ffffff;
    height: 180px;
    width: 100%;
    border-radius: 10px;
    align-items: center;
  }
  .row .content_5 .text_content_5 {
    padding: 20px;
  }
  .text-hidden {
      display: none;
  }

  

  .text-top {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
#inputGroup-sizing-lg{
    color: white;
}

.fa {
   color: white;
}

.list-footer i {
  color: black;
}

.input-form {
    padding: 10px 300px 10px 30px;
    border-radius: 200px;
    border-color: rgba(169, 160, 160, 0.24);;
}
.icon-size{
    font-size: 60px ;
    color: #8dc642;
    margin-left: -55px;
}

.input-form {
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.a{
    margin: 0;
    text-align: center;
    padding: 12px 15px 12px 15px;   
    color: white;
    display: inline-block;
    text-decoration: none;
}
.mainMenu>li{
    display: inline-block;
    margin-left: -5px;
    margin-top: -5px;
}

.subMenu a:hover,
.SuperSubMenu a:hover {
    background: #777;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;

}

.subMenu{
    position: absolute;
    display: none;

}
.subMenu li{
    background: #fff;
    padding: 0 20px;
    position: relative; 
}
.mainMenu > li:hover .subMenu{
    display: block;
}

.SuperSubMenu{
    position: absolute;
    top: 0;
    right: 0;
    -ms-transform: translate(100%,0);
    -webkit-transform: translate(100%,0);
    transform:translate(100%,0);
    display: none;
}
.subMenu li:hover >.SuperSubMenu{
    display: block;
}
.color {
    color: black;
}
.fa-chevron-right {
    size: 20px;
    color: #777;
    display: inline-block;
}
.fa-chevron-right:hover {
    display: inline-block;
}
.check > i {
    color: #000;
    size: 20px;
    margin-left: 10px;
}
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.3) ;
    display: none;
    animation: fadeIn linear 0.2s;
}    

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav-input {
    display: none;
}

.nav-input:checked ~ .overlay {
display: block;
}
.nav-input:checked ~ .menu-mobile {
    transform: translateX(0%);
    opacity: 1;
}

.img-mobile {
    padding-left: 20px;
    padding: 10px 0;

}

.img-mobile img {
    width: 200px;

}
 .icon {
  position: absolute;
  top: 10px;
  right: 30px;
  width: 20px;
  height: 20px;

}
.bg_content {
    margin: auto 0 auto 50px;
    padding-top: 100px;
}

.row .container {
    padding: 0 80px;
}

.container_content_3{
    padding-right: 60px;
}

.container_content_1 .row {
    margin-right: 0;
}
.container_content_1 .row .col-4 img {
    width: 67px;
}
.bg_content_4 {
    background-color: #ffffff;
    height: 550px;
    width :100%
}

.bg_content_4 .text_content_4{
    padding-top: 150px;
}
.bg_content_4 .text_content_4 p{
    margin-right: 250px;
    font-size: 20px;
}

.bg_content_4 .text_content_4 h1{
    font-size: 50px;
}

.bg_content_4 img{
    margin: 70px 0 0 200px;
}

.bg_content_4  .row .col-6 h1{
    font-size: 50px;
} 
.bg_content_4  .row .col-6 p{
    font-size: 20px;
    margin-right: 100px;
} 
.bg_content_4  {
    display: flex;
    flex-direction: row;
    justify-content: center;

 }
 .bg_content_4 .text_content_4 {
     margin-left: 100px;
 }
 footer {
     background-color: #e4efda;
     
 }
 footer .row {
     margin-left: 30px;
     padding-top: 80px;
     margin-right: 20px;
 }
 footer .row .top {
     padding-top: 30px;
 }
 footer .row .right {
    margin-left: 30px;
    
}





/* ----------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1395px) {
    .bg_content_4 .text_content_4 p{
        margin-right: 150px;
        font-size: 20px;
    }
    .bg_content_4 .text_content_4 {
        padding-top: 100px;
    }
  
    .mainMenu {
        display: block;
    }
    .a {
        padding-left: 0;
        padding-right: 0;
        margin: 0;

    }
    .red {
        margin: 0;
    }
}
@media only screen and (max-width: 1219px) {
   
    .mainMenu {
        display: block;
    }
    

    .a {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
    
    .list li {
        padding: 0 20px;
    }
    .col-7{
        padding: 0;
    }
    .col-2 {
        padding-left: 0;
        padding-right: 0;
    }
   
}

@media only screen and (max-width: 1200px) {
    .content .row .col .img_content5 {
        height:  auto;
    }

    .container_content_3 {
        padding: 0;
    }
    .bg_content_4 .text_content_4 p{
        margin-right: 50px;
        font-size: 20px;
    }
    .bg_content_4 img {
        margin: 70px 0 0 150px ;
    }
    .panel p {
        padding-right: 200px;
    }
}

@media only screen and (max-width: 1080px) {
    .ha-between {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    .ha-between .content-3 {
        margin-left: 50px;
    }
    .bg_content2 {
        height:1100px ;
    }
    .img-ha img{
        width: 85%;
        height: auto;
    }
    .img-ha {
        text-align: center;
    }
    .content-3 {
        margin-right: 50px;
    }
}

@media only screen and (max-width: 1048px) {
   
    .mainMenu {
        display: block;
    }
    .a {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
    .list li {
        padding: 0 10px;
    }
    .img-ha img {
        width: 85%;
    }
    .bg_content2 {
        height:auto ;
    }
    .bg_content_4 img {
        margin: 70px 0 0 50px ;
    }
}

@media only screen and (max-width: 1000px) {
    .content_6_2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
    }
    .content_6_2 .content_6_2_img {
        display: inline;
    }
    .panel p {
        padding-right: 100px;
    }
    .content {
        height: auto;
    }
    .content .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .content .row .col-4 {
        margin: 0;
        padding: 20px 0;
        max-width: 100%;
    }

    .content .container .row .button_content_5 {
        padding-bottom: 30px;
    }
    

}

@media only screen and (max-width: 900px) {
    .container_content_1 .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container_content_1 .row .col-4 {
        max-width: 100%;
        padding: 0;
    }
    .container_content_1 .row .col-4 p {
        padding: 0;
    }
    
   
    .top-menu {
        display: none;
        
    }
    .row-mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .mainMenu{
        display: flex;
        flex-direction: column;
        align-items: left;
        font-size: 20px;
        margin-left: 30px;
        margin-top: 30px;
    }
    .mainMenu i {
        margin-left: 10px;
        size: 20px;
        color: black;
    }
    .subMenu li{
        background-color: #777;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .subMenu {
        padding-left: 150px;
        
    }
  
    .button-nav-mobile {
       margin-top: 30px;
   }
    .bars-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .menu-mobile{      
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 320px;
        max-width: 100%;
        background-color: #ffffff;
        transform: translateX(-100%);
        opacity: 0;
        transition: all linear 0,2s;
    }
    .img-ha img {
        width: 85%;
    }
    .bg_content2 {
        height:auto ;
    }
  
    
}


.bg_content h1{
     width: 50%;
     font-family: 'Montserrat', sans-serif; 
     font-size: 55px;

 }


@media only screen and (max-width: 876px) {
   

    footer .row .col-3{
        width: 50%;
        max-width: 50%;
        flex: none;
        padding-top: 40px;
    }

    footer .row .col-3 a{
        font-size: 30px;
        text-align: center;
        
    }
    .nav-text {
       width: 70%;;
    }
    .container_content_1 .row .col-4 img {
        width: 100px;
    }
   
    .bg_content_4  {
       display: flex;
       flex-direction: column;
       justify-content: center;

    }
    .bg_content_4 {
        background-color: #ffffff;
        height: auto;
        width :100%
    }
    .bg_content_4 img {
        margin: 0;
        width: 100%;
        
    }
    .bg_content_4 .text_content_4 {
        padding-top: 30px;
        margin-bottom: 50px;
    }

}
@media only screen and (max-width: 800px) {
    .bg_content2 {
        height:auto ;
    }
   
    .top-menu {
        display: none;
    }
    .row-mobile {
        display: flex;
    }
    .mainMenu .list{
        display: block;
    }
    .bars-nav {
        display: block;
        margin-left: 10px;
        margin-top: 15px;
    }
    .nav-text {
        display: none;
    }
    .img-ha  {
        padding: 0;
    }
    
}
@media only screen and (max-width: 700px) {
   
    .top-menu {
        display: none;
    }
    .row-mobile {
        display: flex;
    }
    .mainMenu .list{
        display: block;
    }
    .bars-nav {
        display: block;
        margin-left: 50px;
        margin-top: 15px;
    }
    .bg_content  {
        margin-top: 0;
    }
    .text-top .gree {
        display: none;
    }
    .bg_content{
        padding-top: 30px;

    } 
}   
@media only screen and (max-width: 658px) {
    
    .bg_content{
        padding-top: 10px;
    }
}

@media only screen and (max-width: 600px) {

    footer .row {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
     }

     footer .row .col-3 a{
        font-size: 30px;
        text-align: center;
        
    }

    footer .row .col-3{
        max-width: 100%;
        width: 100%;
    }
    .main .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content-3 {
        margin-left: -40px;
    }
    .container_content_1 .row .col-4 {
        max-width: 70%;
    }
    .panel p {
        padding-right: 50px;
    }

}


@media (max-width: 440px) {
   
    .bg_content h1{
        padding-top: 60px;
        font-size: 20px;
    }
    
   
}

@media (max-width: 400px) {
    .text-top {
        display: block;
        justify-content: center;
    }
    .text-top p {
        padding: 0;
        margin: 0;
    }
    .panel p {
        padding-right: 0px;
    }
    .container_content_3 p {
        margin-right: 20px;
    }
    .bg_content_4 .text_content_4 {
        margin: 0 0 50px 50px;
    }

}

@media (max-width: 341px) {
    .bars-nav{
      margin-left: 0px;
      padding-right: 20px;
    }
    .container-fluid {
        padding: 0px;
    }
}
